:root {
  // COLORS
  --color-white: #ffffff; // plain white
  --color-black: #000000; // plain black

  --color-primary: #2f3b52;
  --color-accent: #1f8efa;
  --color-background: #141d2f;
  --color-list-item-background: #293449;

  // FONT SIZES
  --font-size-small: 1.4rem;
  --font-size-default: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-large: 2.2rem;

  // INPUTS
}
